._NavItemButton._NavItemButton {
  align-self: initial;
  background-color: #007772;
}
.settings1.settings1 {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
._NavItemButton2._NavItemButton2 {
  align-self: initial;
  background-color: #007772;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.avatar.avatar.avatar {
  background-image:/* webpackIgnore: true */ url('/assets/avatar2.jpeg');
}
._NavFeaturedCard._NavFeaturedCard {
  left: 1843px;
  top: 251px;
  background-color: #00a19a;
}
.supportingText {
  color: #cef7f3;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.imageWrap.imageWrap {
  background-color: #0fb5ae;
}
.image.image {
  background-image:/* webpackIgnore: true */ url('/assets/image2.jpeg');
}
.icon3 {
  width: 100%;
  height: 100%;
}
.text {
  color: #cef7f3;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.inputDropdown.inputDropdown {
  width: initial;
  align-self: stretch;
}
._NavItemDropdownBase._NavItemDropdownBase {
  width: initial;
  align-self: stretch;
}
._NavItemBase._NavItemBase._NavItemBase {
  height: min-content;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.text2 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemDropdownBase2._NavItemDropdownBase2 {
  width: initial;
  height: 40px;
  align-self: stretch;
}
._NavItemBase2._NavItemBase2._NavItemBase2 {
  height: min-content;
}
.text3 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemDropdownBase3._NavItemDropdownBase3 {
  width: initial;
  align-self: stretch;
}
._NavItemBase3._NavItemBase3._NavItemBase3 {
  height: min-content;
}
.text4 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.plus.plus {
  width: 22px;
  height: 22px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
._NavItemBase4._NavItemBase4 {
  width: 280px;
  align-self: initial;
  flex-direction: column;
  gap: initial;
  padding: initial;
  background-color: initial;
}
.content.content {
  width: 256px;
  flex: initial;
  flex-direction: column;
  gap: initial;
}
.lifeBuoy1.lifeBuoy1 {
  position: initial;
}
.icon6.icon6 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.icon6 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.text5 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 63px;
  flex-direction: column;
}
._NavItemBase5._NavItemBase5 {
  width: 280px;
  align-self: initial;
  flex-direction: column;
  gap: initial;
  padding: initial;
  background-color: initial;
}
.content2.content2 {
  width: 256px;
  flex: initial;
  flex-direction: column;
  gap: initial;
}
.settings12.settings12 {
  position: initial;
}
.icon8.icon8 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.icon8 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.text6 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 65px;
  flex-direction: column;
}
._NavFeaturedCard2._NavFeaturedCard2 {
  background-color: #cef7f3;
}
.text7 {
  color: #0c4f4c;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.supportingText2 {
  color: #008c87;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.background.background.background {
  background-color: #aaf1ea;
}
.progress.progress.progress {
  background-color: #008c87;
}
.text8 {
  color: #00a19a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.text9 {
  color: #0c4f4c;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.avatarLabelGroup.avatarLabelGroup {
  width: initial;
  flex: 1;
  flex-direction: column;
  gap: initial;
}
.avatar2.avatar2.avatar2 {
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: auto;
}
.supportingText3 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-direction: column;
}
.button.button {
  position: absolute;
  top: 16px;
  flex-direction: column;
  padding: initial;
}
.logOut1.logOut1 {
  position: initial;
  width: 20px;
  height: 20px;
}
.icon11.icon11 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  width: 15px;
  height: 15px;
}
.icon11 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  width: 15px;
  height: 15px;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.breadcrumbs.breadcrumbs {
  left: 336px;
  top: 114px;
  height: 55px;
}
.text10 {
  color: #475467;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.buttonCloseX.buttonCloseX {
  position: absolute;
  right: 16px;
  top: 16px;
}
.plus2.plus2 {
  width: 86px;
  height: 88px;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.magicWand2.magicWand2 {
  z-index: 0;
  width: 66px;
  height: 62px;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.headerNavigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 82px;
  flex-direction: column;
  align-items: center;
  background-color: #1eb79c;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #98a2b3;
}
.container {
  width: 1366px;
  height: 82px;
  justify-content: space-between;
  align-items: center;
  gap: 738px;
  padding: 0 20px;
}
.content3 {
  width: min-content;
  height: 37px;
  align-items: center;
}
.logo {
  width: 150px;
  height: min-content;
}
.responsly {
  color: #fff;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 161px;
  height: 29px;
  flex-direction: column;
}
.content4 {
  width: min-content;
  height: min-content;
}
.actions {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.search {
  width: 528px;
  align-self: stretch;
  flex-direction: column;
  padding: 0 24px;
}
.inputDropdown2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.sidebarNavigation {
  position: absolute;
  left: 0;
  top: 82px;
  width: 272px;
  height: 940px;
  background-color: #fff;
  box-shadow: inset -1px 0px 0px #eaecf0;
}
.sidebarNavigation2 {
  position: absolute;
  left: 0;
  top: 82px;
  width: 272px;
  height: 942px;
  background-color: #fff;
  box-shadow: inset -1px 0px 0px #eaecf0;
}
.content5 {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset -1px 0px 0px #d0d5dd;
}
.nav {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0 0;
}
.search2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 24px;
}
.navigation {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
  padding: 0 16px;
}
._NavItemDropdownBase4 {
  height: min-content;
  align-self: stretch;
}
._NavItemBase6 {
  height: min-content;
  flex: 1;
  align-self: stretch;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
}
.content6 {
  height: min-content;
  flex: 1;
  align-items: center;
  gap: 12px;
}
.text11 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 183px;
  height: min-content;
  flex-direction: column;
}
.footer {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px 32px;
}
._DropdownListItem {
  position: absolute;
  left: 94.8611%;
  right: 2.5694%;
  top: 12.1094%;
  bottom: 85.1563%;
  align-items: center;
  padding: 2px 6px;
}
.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 1024px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #344054b2;
  backdrop-filter: blur(8px);
}
.modal2 {
  position: relative;
  width: 529px;
  height: 790px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
}
.textContent {
  position: relative;
  width: 280px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 30px 24px;
  background-color: #00a19a;
}
.content7 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.text12 {
  color: #101828;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.supportingText4 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textContent2 {
  position: relative;
  width: 280px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 30px 24px;
  outline: solid 1px #344054b2;
  outline-offset: -1px;
  background-color: #fff;
}
.file2 {
  z-index: 0;
  width: 68px;
  height: 70px;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.content8 {
  z-index: 0;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.text13 {
  color: #101828;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.supportingText5 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textContent3 {
  position: relative;
  width: 280px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 30px 24px;
  outline: solid 1px #344054b2;
  outline-offset: -1px;
  background-color: #fff;
}
.content9 {
  z-index: 0;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.text14 {
  color: #101828;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.supportingText6 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
