.homeLine.homeLine {
  width: 20px;
  height: 20px;
}
.icon.icon {
  top: 9.4452%;
  bottom: 12.5001%;
}
.icon {
  top: 9.4452%;
  bottom: 12.5001%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  width: min-content;
  height: min-content;
}
